.Calculator{
    &.flex{
         display: flex;
         justify-content: space-between;
    }
}
.expression{
    &.flex{
         display: flex;
    }
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result{

}
.bor_one{
    border:1px solid black;
}

