.list-group-item{
    &.finish{
       span{
        color: blue;
        text-decoration: line-through;
       }
    }
}

//意思就是必须同时满足两个class


label{
    &.label-primary{
        margin-left:10px;
    }
}